@import "variable.styl"

body, html
  line-height: 1
  font-family: 'PingFangSC-Regular', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
img
  user-select: none

.border-top-1px, .border-right-1px, .border-bottom-1px, .border-left-1px
  position: relative
  &:before, &:after
    content: ""
    display: block
    position: absolute
    transform-origin: 0 0

.border-top-1px
  &:before
    border-top: 1px solid $color-row-line
    left: 0
    top: 0
    width: 100%
    transform-origin: 0 top

.border-right-1px
  &:after
    border-right: 1px solid $color-col-line
    top: 0
    right: 0
    height: 100%
    transform-origin: right 0

.border-bottom-1px
  &:after
    border-bottom: 1px solid $color-row-line
    left: 0
    bottom: 0
    width: 100%
    transform-origin: 0 bottom

.border-left-1px
  &:before
    border-left: 1px solid $color-col-line
    top: 0
    left: 0
    height: 100%
    transform-origin: left 0

//  鼠标移入时变手
.hand
  cursor: pointer

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
  .border-top-1px
    &:before
      width: 200%
      transform: scale(.5) translateZ(0)

  .border-right-1px
    &:after
      height: 200%
      transform: scale(.5) translateZ(0)

  .border-bottom-1px
    &:after
      width: 200%
      transform: scale(.5) translateZ(0)

  .border-left-1px
    &:before
      height: 200%
      transform: scale(.5) translateZ(0)

@media (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3)
  .border-top-1px
    &:before
      width: 300%
      transform: scale(.333) translateZ(0)

  .border-right-1px
    &:after
      height: 300%
      transform: scale(.333) translateZ(0)

  .border-bottom-1px
    &:after
      width: 300%
      transform: scale(.333) translateZ(0)

  .border-left-1px
    &:before
      height: 300%
      transform: scale(.333) translateZ(0)


.animate-hover
  position: relative
  z-index: 10
  transition: all 0.4s ease-out
  &:after
    content: ''
    border-top: 1px solid transparent
    border-bottom: 1px solid transparent
    position: absolute
    z-index: 5
    height: 100%
    width: 0
    right: 0
    top: -1px
    transition: all 0.4s ease-out
  &:before
    content: ''
    border-right: 1px solid transparent
    border-left: 1px solid transparent
    position: absolute
    z-index: 5
    height: 0
    width: 100%
    bottom: 0
    left: -1px
    transition: all 0.4s ease-out
&:hover
  border-color: transparent
  &:after
    border-color: $color-text-999
    width: 100%
    border-radius 4px
  &:before
    border-color: $color-text-999
    height: 100%
    border-radius 4px

.animate
  position: relative
  transition: all 0.3s ease-out
  &:after
    content: ''
    border-top: 1px solid transparent
    border-bottom: 1px solid transparent
    position: absolute
    z-index: 5
    height: 100%
    width: 0
    right: 0
    top: -1px
    box-sizing: content-box
    transition: all 0.3s ease-out
    border-radius: 3px
  &:before
    content: ''
    border-right: 1px solid transparent
    border-left: 1px solid transparent
    position: absolute
    z-index: 5
    height: 0
    width: 100%
    bottom: 0
    left: 0
    box-sizing: content-box
    transition: all 0.3s ease-out
    border-radius: 3px
.animate-active
  transition: all 0.3s ease-out
  color: $color-main
  &:after
    border-top: 1px solid $color-text-999
    border-bottom: 1px solid $color-text-999
    transition: all 0.3s ease-out
    width: 100%
  &:before
    border-right: 1px solid $color-text-999
    border-left: 1px solid $color-text-999
    transition: all 0.3s ease-out
    height: 100%
//  导出excel的类名
.excel
  cursor: pointer
  background: $color-white
  color: $color-text-sub
  width: 84px
  line-height: 28px
  text-align: center
  display: block
  font-size: $font-size-12
  border-radius: 4px
  transition: all 0.4s ease-out
  border: 1px solid $color-text-D9
  &:hover
    border-color: transparent
    transition: all 0.4s ease-out
    font-size: 13px
